/* No seu arquivo styles.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
body{

    background-image: url(https://images3.alphacoders.com/648/648465.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}
/* Para telas menores que 768px (tablets e celulares) */
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
}

/* Para telas menores que 480px (celulares pequenos) */
@media (max-width: 480px) {
    body {
        font-size: 14px;
    }
}

.div_main{
    display: flex;
}
.div_perfil{
    background-color: rgba(255, 255, 255, 0.421);
    width          : 21.1%;
    height: 540px;
    padding        : 25px;
    margin-top     : 50px;
    margin-left    : 5px;
    border-radius  : 10px;
    align-items    : center;

}

/* div_perfil_img: foto de perfil */
.div_perfil_img{
    align-items: center;
    justify-content: center;
    display: flex;
}
/* div_perfil_img_style: foto de perfil estilo*/
.div_perfil_img_style{
    border-radius: 300px;
    border-width: 10px;
    border-color: black;
    width: 115px;
}
/* div_perfil_nome: nome do perfil */
.div_perfil_nome{
    font-family: 'Open Sans';
    font-weight: bold;
    font-size  : 15pt;
    text-align : center;
    margin-top : 15px;
}
/* div_perfil_icons_redes: icones */
.div_perfil_icons_redes{
    display: flex;
    align-items: center;
    justify-content: center;
}


.div_perfil_icons_redes img{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-top: 20px;
}


/* div_perfil_contatos: contatos */

.div_perfil_contatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div_perfil_contatos button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.017);
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 8px;
    border-width: 0.1px;
    
    border-color: black;
    border-style: solid;
    margin-top: 10px;
}

.div_perfil_contatos img{
    width: 22px;
    height: 22px;
    margin-right: 10px;

}

/* div_perfil_gifs: gifs */
.div_perfil_gifs{
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_perfil_gifs span{
    font-size: 11pt;
}

.div_perfil_gifs img{
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.a_curriculo{
    text-decoration: none;
    color: black;
}
/*div_portfolio: portfolio*/
.div_portfolio{
    font-family: 'Open Sans';

    background-color: rgba(255, 255, 255, 0.421);    
    padding: 20px;
    height: 620px;
    width: 70%;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 10px;
}

.div_portfolio span{
    font-size: 12pt;
    margin-left: 30px;
    margin-right: 0px;
    text-align: justify;
}

.div_projetos_main_1{
    display: flex;
}

.a_projeto1{
    text-decoration: none;
    color: black;
}
.div_projeto{
    width: 450px;
    background-color: rgba(189, 189, 189, 0.395);
    border: 1px solid rgba(0, 0, 0, 0.68);
    border-radius: 10px;
    margin-left: 5px;  
}

.div_projeto1_text{
    padding: 10px;
    text-align: justify;
}
.div_projeto1_text h4{
    margin-top: 5px;
    margin-bottom: 5px;
}
.div_projeto1_text p{
    margin-top: 5px;
    margin-left: 10px;
    font-size: 10pt;
    font-weight: lighter;
}


.div_projetos_main_2{
    display: flex;
    margin-top: 20px;
}